
%footer.user-footer
  %nav
    %ul
      %li
        %a プライバシーポリシー 
      %li
        %a Fmarket利用規約
      %li
        %a 特定商品に関する表記 
  %a
    = link_to root_path do
      = image_tag "/images/SVG/logo_gray.svg", alt: "Mercari", width: "80", height: "60"  
    %p 
      %small ©︎2019 Fmarket