%footer.user-footer
  %nav
    %ul.user-footer-container
      %li.user-footer-menu
        .user-footer-menu__1 プライバシーポリシー 
      %li.user-footer-menu
        .user-footer-menu__1 Fmarket利用規約
      %li.user-footer-menu
        .user-footer-menu__1 特定商品に関する表記 
  .user-footer__link
    = link_to root_path do
      = image_tag "/images/SVG/logo_gray.svg", alt: "Mercari", class:".user-footer-img", width: "80", height: "60"  
  %h1.user-footer__end
    %small.user-footer__year ©︎2019 Fmarket
