%header.signup-header-new
  .signup-header-new__containar
    %h1.signup-header-new-panel
      .signup-header-new-icon
        = image_tag "/assets/SVG/fmarket_logo_red.svg", alt: "Mercari",class: "sign-up-new-img"
