.container-login-signin {
  background-color: $main-background;
  text-align: center;

  .header {
    height: 128px;
    display: inline-block;

    h1 {
      margin: 40px 0 0;

      a {
        margin: 0 auto;
        width: 185px;
        height: 49px;
        line-height: 49px;
        display: inline-block;
        margin: 0 8px 0 0;
      }
    }
  }
 
  // sign_up-CSS

  .main {
    .signup-panel {
      max-width: 700px;
      margin: 0 auto;
      background-color: $white;

      &__title {
        padding: 32px 16px;
        font-size: 22px;
        font-weight: bold;
      }      
      &__inherit {
        border-top: 1px solid #eee;
        padding: 64px;

        .sign-up-btn {
          width: 320px;
          margin: 0 auto;
          border: #979797 solid 1px;
          .btn-mail {
            background: #eee;
            color: $black;
            @include btn-pass;
          }
          .btn-mail:focus {
            @include input-focus;
          }
          p {
            margin: 8px 0 0;
            padding: 0;
            line-height: 1.5;
            text-align: left;
          }
        }
        button {
          border: #979797 solid 1px;
          max-width: 320px;
          margin: 0 auto;
          position: relative;
          .mail-icon {
            font-size: 20px;
            position: absolute;
            top: 13px;
            left: 15px;
            color:  #979797;
          }
        }              
        #facebook {
          color: $white;
          background-color: #385185;
          margin-top: 16px;
          @include btn-pass;
          @include btn-default;
          .facebook-icon {
            @include icon-facebook ;
          }
        }

        #Google {
          color: $black;
          background-color: $white no-repeat 3px top;
          margin-top: 16px;
          @include btn-pass;
          @include btn-default;
          .google-icon {
            @include icon-google;
          }
        }
      }
    }
  }



  .footer {
    width: 456px;
    height: 220px;
    margin: 0 auto;
    padding: 40px 0;

    ul {
      list-style: none;
    }

    li {
      display: inline-block;
      margin: 0 0 0 16px;
      font-size: 12px;
      a {
        text-decoration: none;
        color: $black;
      }
    }

    li:hover {
      @include link_hover();
    }

    & li:first-child {
      display: inline-block;
      margin: 0;
    }

    p {
      margin: 8px 0 0;

      small {
        font-size: 13px;
      }
    }


    &__logo img {
      width: 80px;
      height: 65px;
      margin: 40px auto 0;
    }
  }
}