@mixin status_bar($width,$color:#ccc) {
  position: absolute;
  bottom: 5px;
  z-index: -1;
  display: block;
  content: '';
  width: $width;
  height: 2px;
  background:$color;
 }
 @mixin status($color:#ccc){
  width: 12px;
  height: 12px;
  margin: 8px auto 0;
  border-radius: 50%;
  background:$color
}

.signup-header{
  height: 128px;
  text-align: center;
  background-color: rgb(245, 245, 245);
  
  &__containar {
    display: inline-flex;
    &__title{
      padding: 40px 35px 0;
      &__img{
        width: 185px;
        height: 49px;
        line-height: 49px;
        .sign-up_img{
          width: 185px;
          height: 49px;
          margin: 0 auto;
        }
      }
    }

    .signup-bar-3 {
      border: 0;
      padding: 40px 0 0 24px;

      &__to{
        display: inline-flex;
        .li--active-3{
          color: #ea352d;
          position: relative;
          margin: 0 40px 0 0;
          z-index: 1;
          display: inline-block;
          font-size: 12px;
          min-width: 60px;
          font-weight: 600;
          .progress-status3-3{
            @include status(#ea352d);
          }
          .progress-status3-3::before{
            @include status_bar(125%)
          }
        }

          .signup-bar-3__to-do{
            position: relative;
            z-index: 1;
            display: inline-block;
            min-width: 40px;
            font-size: 12px;
            color: #888;
            margin: 0 40px 0 0;
            position: relative;

          .progress-status1-3{
            @include status(#ea352d);
          }
          .progress-status2-3{
            @include status(#ea352d);
          }
          
          .progress-status4-3{
            @include status
          }
          .progress-status5-3{
            @include status
          }
          .progress-status1-3::before{
            @include status_bar(210%,#ea352d)
          }
          .progress-status2-3::before{
            @include status_bar(175%,#ea352d)
          }
          
          .progress-status4-3::before{
            @include status_bar(166%)
          }
        }
      }
    }
  }
}

.container-delivery {
  background: rgb(245, 245, 245);
  text-align: center;

  &__main {
    .signup-panel-5 {
      max-width: 700px;
      margin: 0 auto;
      background-color: white;

      &__title {
        padding: 32px;
        font-size: 22px;
        font-weight: bold;
      }  
          
      &__content{
        border-top: 1px solid #eee;
        height: 1080px;
        width: 668px;
        padding: 24px 16px 40px;
      }
      &__inherit{
        height: 731px;
        width: 343px;
        margin: 0 auto;
      }
    }
  }
  .signup-panel-5__inherit__form-group{
    margin-top: 24px;
    width: 343px;
    height: 70px;
    &__center{
      margin: 0;
    }
    &__end{
      margin-top: 24px;
    }
  }

  .new-user-create{
    font-weight: 600;
    font-size: 14px;
    float: left;
    margin: 0 8px 0 0;
  }
  .require-5{
    background: #ea352d;
    margin:0 8px 8px;
    padding: 2px 4px;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    vertical-align: top;
    display: flex;
    width: 25px;
  }
  .any-5{
    background: #ccc;
    margin:0 8px 8px;
    padding: 2px 4px;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    vertical-align: top;
    display: flex;
    width: 25px;
  }
  .signup-panel-5__inherit__input-default{
    height: 28px;
    padding: 10px 16px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    line-height: 1.5;
    font-size: 16px;
    margin-top: 8px;
    width: 309px;
    display: flex;
  }

}


.next-current_page-5{
  width: 341px;
  height: 48px;
  margin-top: 24px;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
}



.user-footer {
  background: rgb(245, 245, 245);
  text-align: center;
  height: 220px;
  margin: 0 auto;
  padding: 40px 0;
  .user-footer-container {
    list-style: none;
  }
  .user-footer-menu{
    display: inline-block;
    margin: 0 0 0 16px;
    font-size: 12px;
    &__1{
      text-decoration: none;
      color: black;
    }
  }

  li:first-child {
    display: inline-block;
    margin: 0;
  }
  .user-footer__link {
    width: 80px;
    height: 65px;
    margin: 40px auto 0;
    .user-footer-img{
      width: 80px;
      height: 65px;
      margin: 40px auto 0;
    }
  }
  .user-footer__end{
    margin: auto;
    padding: 0;
    width: 456px;
    height: 14px;
    .user-footer__year{
      font-size: 13px;
    }
  }
}