@mixin status_bar($width,$color:#ccc) {
  position: absolute;
  bottom: 5px;
  z-index: -1;
  display: block;
  content: '';
  width: $width;
  height: 2px;
  background:$color;
 }
 @mixin status($color:#ccc){
  width: 12px;
  height: 12px;
  margin: 8px auto 0;
  border-radius: 50%;
  background:$color
}

.signup-header{
  height: 128px;
  text-align: center;
  background-color: rgb(245, 245, 245);
  
  &__containar {
    display: inline-flex;
    &__title{
      padding: 40px 35px 0;
      &__img{
        width: 185px;
        height: 49px;
        line-height: 49px;
        .sign-up_img{
          width: 185px;
          height: 49px;
          margin: 0 auto;
        }
      }
    }

    .signup-bar-3 {
      border: 0;
      padding: 40px 0 0 24px;

      &__to{
        display: inline-flex;
        .li--active-3{
          color: #ea352d;
          position: relative;
          margin: 0 40px 0 0;
          z-index: 1;
          display: inline-block;
          font-size: 12px;
          min-width: 60px;
          font-weight: 600;
          .progress-status3-3{
            @include status(#ea352d);
          }
          .progress-status3-3::before{
            @include status_bar(125%)
          }
        }

          .signup-bar-3__to-do{
            position: relative;
            z-index: 1;
            display: inline-block;
            min-width: 40px;
            font-size: 12px;
            color: #888;
            margin: 0 40px 0 0;
            position: relative;

          .progress-status1-3{
            @include status(#ea352d);
          }
          .progress-status2-3{
            @include status(#ea352d);
          }
          
          .progress-status4-3{
            @include status
          }
          .progress-status5-3{
            @include status
          }
          .progress-status1-3::before{
            @include status_bar(210%,#ea352d)
          }
          .progress-status2-3::before{
            @include status_bar(175%,#ea352d)
          }
          
          .progress-status4-3::before{
            @include status_bar(166%)
          }
        }
      }
    }
  }
}
.single-container {
  display: block;
  .main {
    width: 700px;
    margin: 0 auto;
    background-color: #fff;
      .signup__title {
        padding: 32px;
        font-size: 22px;
        font-weight: bold;
        text-align: center;

      }
      .new_address{
        padding: 24px 16px 40px;
        border-top: 1px solid #f5f5f5;
      
      .l-single-container{
        max-width: 343px;
        margin: 0 auto;
        &__address{
          }
        &__form{
          margin: 24px 0 0;
          }
        &__address{
          margin-top:50px;
          &__select{
            margin-top:px;
            background-color: #fff;
            position:relative;
            
            #address_prefecture_id{
              width:100%;
              position: relative;
              z-index: 2;
              height: 48px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background: 0;
              font-size: 16px;
              line-height: 1.5;
              cursor: pointer;
              width: 100%;
              -webkit-appearance: none;
              }
            }
          }
          .text__input{
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 16px;
            width: 100%;
            margin: 8px 0 0;
            }
          label{
            font-weight: 600;
            font-size: 14px;
            float: left;
            }
          .require{
            background: #ea352d;
            margin: 0 0 0 8px;
            padding: 2px 4px;
            border-radius: 2px;
            color: #fff;
            font-size: 12px;
            vertical-align: top;
            float: left;
            }
          .next-current_page{
            width: 341px;
            height: 48px;
            margin-top: 24px;
            background: #ea352d;
            border: 1px solid #ea352d;
            color: #fff;
            }
            .signup-panel__inherit__form-group__identification{
              height: 87px;
              width: 343px;
              margin: 24px 0 0;
              
              .ident{
                font-size: 16px;
                margin: 0;
                padding: 0;
                text-align: initial;
              }
              .ident-text{
                padding: 0;
                text-align: initial;
                font-size: 14px;
                font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
              }
            }
          }
        }
      }
    }  
  


.user-footer {
  background: rgb(245, 245, 245);
  text-align: center;
  height: 220px;
  margin: 0 auto;
  padding: 40px 0;
  .user-footer-container {
    list-style: none;
  }
  .user-footer-menu{
    display: inline-block;
    margin: 0 0 0 16px;
    font-size: 12px;
    &__1{
      text-decoration: none;
      color: black;
    }
  }

  li:first-child {
    display: inline-block;
    margin: 0;
  }
  .user-footer__link {
    width: 80px;
    height: 65px;
    margin: 40px auto 0;
    .user-footer-img{
      width: 80px;
      height: 65px;
      margin: 40px auto 0;
    }
  }
  .user-footer__end{
    margin: auto;
    padding: 0;
    width: 456px;
    height: 14px;
    .user-footer__year{
      font-size: 13px;
    }
  }
}