@mixin status_bar-4($width,$color:#ccc) {
  position: absolute;
  bottom: 5px;
  z-index: -1;
  display: block;
  content: '';
  width: $width;
  height: 2px;
  background:$color;
 }
 @mixin status-4($color:#ccc){
  width: 12px;
  height: 12px;
  margin: 8px auto 0;
  border-radius: 50%;
  background:$color
}

@mixin expiration-date($left:0){
  margin-top: 8px;
  width: 150px;
  height: 48px;
  padding: 0;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
  position: relative;
  margin-right: 20px;
  margin-left:$left;
  display: block;
}

.signup-header-4 {
  height: 128px;
  text-align: center;
  background-color: rgb(245, 245, 245);
  
  &__containar {
    display: inline-flex;
    &__title{
      padding: 40px 35px 0;
      &__img{
        width: 185px;
        height: 49px;
        line-height: 49px;
        .sign-up_img{
          width: 185px;
          height: 49px;
          margin: 0 auto;
        }
      }
    }

    .signup-bar-4 {
      border: 0;
      padding: 40px 0 0 24px;

      &__to{
        display: inline-flex;
        .li--active-4{
          font-weight: 600;
          color: #ea352d;
          position: relative;
          z-index: 1;
          display: inline-block;
          min-width: 40px;
          margin: 0 5% 0 0;
          font-size: 12px;
          margin: 0 40px 0 0;
          position: relative;
          min-width: 60px;
          .progress-status4-4{
            @include status-4(#ea352d);
          }
          .progress-status4-4::before{
            @include status_bar-4(166%)
          }
          }

        .signup-bar-4__to-do{
          position: relative;
          z-index: 1;
          display: inline-block;
          min-width: 40px;
          margin: 0 5% 0 0;
          font-size: 12px;
          color: #888;
          margin: 0 40px 0 0;
          position: relative;
          min-width: 60px;

          .progress-status1-4{
            @include status-4(#ea352d);
          }
          .progress-status2-4{
            @include status-4(#ea352d);
          }
          .progress-status3-4{
            @include status-4(#ea352d);
          }
          
          .progress-status5-4{
            @include status-4
          }

          .progress-status1-4::before{
            @include status_bar-4(180%,#ea352d)
          }
          .progress-status2-4::before{
            @include status_bar-4(175%,#ea352d)
          }
          .progress-status3-4::before{
            @include status_bar-4(125%,#ea352d)
          }
        }
      }
    }
  }
}

.main__credit-container{
  background: rgb(245, 245, 245);
  text-align: center;
  .credit__content {
    height: 550px;
    .chapter__container{
      max-width: 700px;
      margin: 0 auto;
      background-color: white;

      .chapter__head{
        padding: 32px;
        font-size: 22px;
        font-weight: bold;
      }  
          
      .form__main__container{
        border-top: 1px solid #eee;
        height: 500px;
        width: 668px;
        padding: 24px 16px 40px;
      }
    }
  }

  .form__content{
    margin: 0 auto;
    width: 343px;
    height: 70px;
  }

    .payment__card{
    font-weight: 600;
    font-size: 14px;
    float: left;
    margin: 0 8px 0 0;
    }
    .require__form{
      background: #ea352d;
      margin:0 8px 8px;
      padding: 2px 4px;
      border-radius: 2px;
      color: #fff;
      font-size: 12px;
      vertical-align: top;
      display: flex;
      width: 25px;
    }
  
  .number-input__deafult{
    height: 28px;
    padding: 10px 16px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    line-height: 1.5;
    font-size: 16px;
    margin-top: 8px;
    width: 309px;
    display: flex;
  }
  .image-credit{
    margin: 0 auto;
    text-align:left;
    height: 30px;
    width: 343px;
  }
  
  .form__content-top__margin{
    padding: 0;
    height: 30px;
    width: 343px;
    margin: 0 auto;
    margin-top: 48px;
    padding: 0;
  } 
  
  

  .select__box-top__margin{
    height: 50px;
    width: 343px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    .select__box__half{
      @include expiration-date
    }
    .select__box__half-2{
      @include expiration-date($left:20px)
    }
  }
  
  .expiration-date-icon{
    right: 12px;
    top: 50%;
    position: absolute;
    z-index: 2;
    color: #888;
    font-size: 25px;
    transform: translate(0, -50%);
    font-family: 'icon-font';
    font-style: normal;
    font-weight: 600;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
  }

  .select__default{
    padding: 0 10px;
    position: relative;
    z-index: 2;
    height: 48px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: 0;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
  }
  .form__content-top__margin-2{
    padding: 0;
    height: 100px;
    width: 343px;
    margin: 0 auto;
    margin-top: 24px;
    padding: 0;
  } 
  .security-code{
    font-weight: 600;
    font-size: 14px;
    float: left;
    margin: 0 8px 0 0;
  }
  .cvc{
    height: 28px;
    padding: 10px 16px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    line-height: 1.5;
    font-size: 16px;
    margin-top: 8px;
    width: 309px;
    display: flex;
  }
}

.single__code{
  margin: 8px 0 0;
  line-height: 1.5;
  height: 21px;
  width: 343px;
  text-align: right;
}
.single__code__text{
  color: #0099e8;
  text-decoration: none;
  font-size: 14px;
}

.next-current_page-credit{
  width: 341px;
  height: 48px;
  margin-top: 24px;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
}

.user-footer {
  background: rgb(245, 245, 245);
  text-align: center;
  height: 220px;
  margin: 0 auto;
  padding: 40px 0;
  .user-footer-container {
    list-style: none;
  }
  .user-footer-menu{
    display: inline-block;
    margin: 0 0 0 16px;
    font-size: 12px;
    &__1{
      text-decoration: none;
      color: black;
    }
  }

  li:first-child {
    display: inline-block;
    margin: 0;
  }
  .user-footer__link {
    width: 80px;
    height: 65px;
    margin: 40px auto 0;
    .user-footer-img{
      width: 80px;
      height: 65px;
      margin: 40px auto 0;
    }
  }
  .user-footer__end{
    margin: auto;
    padding: 0;
    width: 456px;
    height: 14px;
    .user-footer__year{
      font-size: 13px;
    }
  }
}