@mixin status_bar-5($width,$color:#ccc) {
  position: absolute;
  bottom: 5px;
  z-index: -1;
  display: block;
  content: '';
  width: $width;
  height: 2px;
  background:$color;
 }
 @mixin status-5($color:#ccc){
  width: 12px;
  height: 12px;
  margin: 8px auto 0;
  border-radius: 50%;
  background:$color
}

.signup-header-5 {
  height: 128px;
  text-align: center;
  background-color: rgb(245, 245, 245);
  
  &__containar {
    display: inline-flex;
    &__title{
      padding: 40px 35px 0;
      &__img{
        width: 185px;
        height: 49px;
        line-height: 49px;
        .sign-up_img{
          width: 185px;
          height: 49px;
          margin: 0 auto;
        }
      }
    }

    .signup-bar-5 {
      border: 0;
      padding: 40px 0 0 24px;

      &__to{
        display: inline-flex;
        .li--active-5{
          font-weight: 600;
          color: #ea352d;
          position: relative;
          z-index: 1;
          display: inline-block;
          min-width: 40px;
          margin: 0 5% 0 0;
          font-size: 12px;
          margin: 0 40px 0 0;
          position: relative;
          min-width: 60px;
          .progress-status5-5{
            @include status-5(#ea352d)
          }
        }

        .signup-bar-5__to-do{
          position: relative;
          z-index: 1;
          display: inline-block;
          min-width: 40px;
          margin: 0 5% 0 0;
          font-size: 12px;
          color: #888;
          margin: 0 40px 0 0;
          position: relative;
          min-width: 60px;

          .progress-status1-5{
            @include status-5(#ea352d);
          }
          .progress-status2-5{
            @include status-5(#ea352d);
          }
          .progress-status3-5{
            @include status-5(#ea352d);
          }
          .progress-status4-5{
            @include status-5(#ea352d);
          }
          

          .progress-status1-5::before{
            @include status_bar-5(180%,#ea352d)
          }
          .progress-status2-5::before{
            @include status_bar-5(175%,#ea352d)
          }
          .progress-status3-5::before{
            @include status_bar-5(125%,#ea352d)
          }
          .progress-status4-5::before{
            @include status_bar-5(166%,#ea352d)
          }
        }
      }
    }
  }
}

.sing-up-finish-main{
  background: rgb(245, 245, 245);
  text-align: center;
  height: 700px;
  &__content{
    margin: 0 auto;
    height: 350px;
    width: 919px;
    &__panel{
      max-width: 700px;
      height: 350px;
      margin: 0 auto;
      background-color: white;
      .sign-up-finish-panel{
        padding: 32px;
        font-size: 22px;
        font-weight: bold;
        color:#333;
      }            
      .sign-up-finish-text{
        color:#333;
        border-top: 1px solid #eee;
        height: 282px;
        width: 668px;
        padding: 24px 16px 40px;
        font-family: "Source Sans Pro", Helvetica, Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
        .sign-up-finish-text-content{
          height: 100px;
          width: 668px;
          margin-top: 24px;
        }
      }
    }
  }
}
.new-start{
  margin: 0 auto;
  width: 341px;
  height: 48px;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  font-size: 14px;
}

.image-cloth{
  margin:0 auto;
  height: 350px;
  width: 700px;
}



.user-footer {
  background: rgb(245, 245, 245);
  text-align: center;
  
  height: 220px;
  margin: 0 auto;
  padding: 40px 0;
  .user-footer-container {
    list-style: none;
  }
  .user-footer-menu{
    display: inline-block;
    margin: 0 0 0 16px;
    font-size: 12px;
    &__1{
      text-decoration: none;
      color: black;
    }
  }

  li:first-child {
    display: inline-block;
    margin: 0;
  }
  .user-footer__link {
    .user-footer-img{
      width: 80px;
      height: 65px;
      margin: 40px auto 0;
    }
  }
  .user-footer__end{
    margin: 8px 0 0;

    .user-footer__year{
      font-size: 13px;
    }
  }
}