//================================= MIXIN =================================//

@mixin status_bar($width) {
  position: absolute;
  bottom: 5px;
  z-index: -1;
  display: block;
  content: '';
  width: $width;
  height: 2px;
  background: #ccc;
 }
 @mixin status($color:#ccc){
  width: 12px;
  height: 12px;
  margin: 8px auto 0;
  border-radius: 50%;
  background:$color
}

@mixin birthday(){
  margin-top: 8px;
  width: 76px;
  height: 48px;
  padding: 0;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
  position: relative;
}

//================================= STYLE =================================//

.single_container{
  padding: 0 0 220px;

.signup-header {
  height: 128px;
  text-align: center;
  background-color: rgb(245, 245, 245);
  
  &__containar {
    display: inline-flex;
    h1 {
      padding: 40px 35px 0;
      a {
        width: 185px;
        height: 49px;
        line-height: 49px;
        img {
          width: 185px;
          height: 49px;
          margin: 0 auto;
        }
      }
    }

    .signup-bar {
      border: 0;
      padding: 40px 0 0 24px;

      ol {
        display: inline-flex;
        .li--active{
          font-weight: 600;
          color: #ea352d;
          }

        li {
          position: relative;
          z-index: 1;
          display: inline-block;
          min-width: 40px;
          margin: 0 5% 0 0;
          font-size: 12px;
          color: #888;
          margin: 0 40px 0 0;
          position: relative;
          min-width: 60px;
          font-size: 12px;

          .progress-status1{
            @include status(#ea352d);
          }
          .progress-status2{
            @include status
          }
          .progress-status3{
            @include status
          }
          .progress-status4{
            @include status
          }
          .progress-status5{
            @include status
          }

          .progress-status1::before{
            @include status_bar(180%)
          }
          .progress-status2::before{
            @include status_bar(175%)
          }
          .progress-status3::before{
            @include status_bar(125%)
          }
          .progress-status4::before{
            @include status_bar(166%)
          }
        }
      }
    }
  }
}

.signle-container {
  display: block;
  .main {
    width: 700px;
    margin: 0 auto;
    background-color: #fff;
      .signup__title {
        padding: 32px;
        font-size: 22px;
        font-weight: bold;
        text-align: center;

      }
      .new_user{
        padding: 24px 16px 40px;
        border-top: 1px solid #f5f5f5;
      
      .l-single-container{
        max-width: 343px;
        margin: 0 auto;
        &__nickanme{
          }
        &__form{
          margin: 24px 0 0;
          }
        &__birthday{
          margin-top:30px;
          display: flex;
        }
        .user_year_id{
          padding: 0 10px;
          position: relative;
          z-index: 2;
          height: 48px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: 0;
          font-size: 16px;
          line-height: 1.5;
          cursor: pointer;
          width: 100%;
          -webkit-appearance: none;
          appearance: none;
          }
        
          .text__input{
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 16px;
            width: 100%;
            margin: 8px 0 0;
            }
          label{
            font-weight: 600;
            font-size: 14px;
            float: left;
            }
          .require{
            background: #ea352d;
            margin: 0 0 0 8px;
            padding: 2px 4px;
            border-radius: 2px;
            color: #fff;
            font-size: 12px;
            vertical-align: top;
            float: left;
            }
          .next-current_page{
            width: 341px;
            height: 48px;
            margin-top: 24px;
            background: #ea352d;
            border: 1px solid #ea352d;
            color: #fff;
            }
          }
        }
      }
    }  
  


.user-footer {
  background: rgb(245, 245, 245);
  text-align: center;
  
  height: 220px;
  margin: 0 auto;
  padding: 40px 0;
  ul {
    list-style: none;
  }
  li {
    display: inline-block;
    margin: 0 0 0 16px;
    font-size: 12px;
    a {
      text-decoration: none;
      color: black;
    }
  }

  & li:first-child {
    display: inline-block;
    margin: 0;
  }
  a {
    img {
      width: 80px;
      height: 65px;
      margin: 40px auto 0;
    }
  }
  p {
    margin: 8px 0 0;

    small {
      font-size: 13px;
    }
  }
}

}
