//================================= STYLE&COLOR =================================//

@mixin clearfix{
  &:after{
    content: '';
    display: block;
    clear: both;
    box-sizing: inherit;
  }
}

@mixin header-nav__right{
  max-width: 100%;
  height: auto;
  max-height: 100%;
  margin-right: 10px;
  width: 19px;
  font-size: 20px;
}

@mixin bold{
  font-weight: 600;
}

$color-blue: rgb(14, 94, 241);
$color-white: rgb(255, 255, 255);

//================================= INDEX =================================//

body {
  position: relative;
  min-height: 100%;
  color: rgb(51, 51, 51);
  background-color: rgb(245, 245, 245);
  font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  font-size: 14px;
}

.pro-header{
  background-color: #fff;
  position: relative;
  z-index: 3;
}

//================================= NAV =================================//

.location{
  position: relative;
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  background: #fff;
  &-pre{
    width: 1020px;
    overflow: visible;
    margin: 0 auto;
    padding: 16px 0;
    white-space: normal;
    li{
      text-overflow: ellipsis;
      white-space: nowrap;
      display: inline-block;
      font-size: 14px;
      line-height: 1.2;
      a{
        color: #333;
        span:hover{
          border-bottom: 1px solid #888;
          color: #888;
        }
      }
    }
    .chevron-right{
      margin: 0 8px;
      font-size: 9px;
      color: #888;
      display: inline-block;
      font-family: 'icon-font';
      font-style: normal;
      font-weight: 400;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
    }
    li:last-child{
      @include bold()
    }
  }
}



//================================= MAIN =================================//

.major{
  margin: 40px auto 0;
  width: 1020px;
  padding: 0 0 40px;
  display: block;
  @include clearfix();
  .r-content{
    float: right;
    width: 700px;
    .user-detail{
      height: 200px;
      position: relative;
      padding: 20px;
      background: url(/images/玉ボケ.jpeg);
      background-repeat: no-repeat;
      background-size: cover;
      text-align: center;
      .image-content{
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translate(0, -50%);
        color: #333;
        figure{
          overflow: hidden;
          width: 60px;
          height: 60px;
          margin: 0 auto;
          border-radius: 50%;
          background-color: lightgray;
        }
        h2{
          margin: 8px 0 0;
          font-size: 14px;
          @include bold();
        }
        .eva{
          display: flex;
          justify-content: center;
          margin-top: 8px;
          &-left{
            margin-right: 10px;
            .bold{
              @include bold();
              margin-left: 5px;
            }
          }
          &-right{
            margin-left: 10px;
            .bold{
              @include bold();
              margin-left: 5px;
            }
          }
        }
      }
    }
    .notice-todo{
      margin-bottom: 40px;
      background: #fff;
      .mypage-info{
        border: 0;
        background: #eee;
        display: flex;
        .info-text{
          display: inline-block;
          width: 50%;
          text-align: center;
          a{
            position: relative;
            display: block;
            color: #333;
            font-size: 16px;
            line-height: 72px;
            h3{
              @include bold()
            }
          }
        }
        .info-text:hover h3{
          color: rgb(121, 120, 120);
        }
      }
      .tab-text{
        display: block;
        .tab-line{
          display: block;
          &__list{
            border-bottom: 1px solid #eee;
            .mypage-mail{
              display: block;
              height: 60px;
              padding: 16px;
              color: #333;
              position: relative;
              figure{
                margin: 0;
                float: left;
                img{
                  padding: 3px 5px;
                  background-color: lightgray;
                }
              }
              .mail-text{
                margin: 0 40px 0 68px;
                &__area{

                }
                time{
                  color: #888;
                  .icon-clock{
                    margin-right: 5px;
                  }
                }
              }
              .chevron-right{
                position: absolute;
                right: 16px;
                top: 45%;
                color: #333;
                font-size: 15px;
              }
            }
            .mypage-mail:hover{
              background: rgb(250, 246, 246);
            }
          }
          .go-page{
            border: 0;
            padding: 16px;
            a{
              display: block;
              height: 56px;
              margin: 0 auto;
              background: #eee;
              color: #333;
              line-height: 56px;
              text-align: center;
            }
            a:hover{
              background: rgb(250, 249, 249);
            }
          }
        }
      }
    }
    .deal{
      margin: 0;
      background: #fff;
      &-head{
        padding: 0 16px;
        background: #fafafa;
        font-size: 16px;
        line-height: 72px;
        font-weight: 600;
      }
      &-tab{
        border: 0;
        background: #eee;
        display: flex;
        li{
          width: 50%;
          display: inline-block;
          text-align: center;
          vertical-align: top;
        }
        h3{
          @include bold()
        }
        a{
          position: relative;
          display: block;
          color: #333;
          font-size: 16px;
          line-height: 72px;
        }
        a:hover h3{
          color: rgb(121, 120, 120);
        }
      }
      &-body{
        .deal-panel{
          display: block;
          .deal-info{
            padding: 160px 0 60px;
            background: url(/images/SVG/logo_gray.svg);
            background-repeat: no-repeat;
            background-position: center 40px;
            background-size: 78px 85px;
            text-align: center;
            font-size: 16px;
            color: #ccc;
            @include bold()
          }
        }
      }
    }
  }
  .l-content{
    float: left;
    width: 280px;
    margin: 0 40px 0 0;
    .mypage-choice{
      &__list :first-child{
        border-top: 0;
      }
      &__list{
        li{
          border-top: 1px solid #eee;
          .list-item{
            position: relative;
            display: block;
            min-height: 16px;
            padding: 16px;
            background: #fff;
            font-size: 14px;
            color: #333;
            .chevron-right{
              position: absolute;
              top: 50%;
              right: 16px;
              color: #ccc;
              transform: translate(0, -50%);
              transition: all ease-out .2s;
              font-size: 15px;
            }
          }
          .list-item__active{
            background: #eee;
            font-weight: 600;
            position: relative;
            display: block;
            min-height: 16px;
            padding: 16px;
            font-size: 14px;
            color: #333;
            .chevron-right{
              color: #333;
              position: absolute;
              top: 50%;
              right: 16px;
              transform: translate(0, -50%);
              transition: all ease-out .2s;
              font-size: 15px;
            }
          }
          .list-item:hover{
            background: rgb(250, 246, 246);
          }
          .list-item:hover .chevron-right{
            color: #333;
            right: 10px;
          }
        }
      }
      .mypage-choice__head{
        margin: 40px 0 0;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 10px;
      }
    }
  }
}



















