.signup-header-new{
  background: rgb(245, 245, 245);
  height: 128px;
  text-align: center;
  &__containar{
    background: rgb(245, 245, 245);
    .signup-header-new-panel{
      background: rgb(245, 245, 245);
      padding: 40px 0 0;
      .signup-header-new-icon{
        width: 185px;
        height: 49px;
        line-height: 49px;
        margin: 0 auto;
        .sign-up-new-img{
          width: 185px;
          height: 49px;
        }
      }
    }
  }
}

.container-login-signin {
  background: rgb(245, 245, 245);
  text-align: center;

  .main {
    .signup-panel {
      max-width: 700px;
      margin: 0 auto;
      background-color: white;

      &__title {
        padding: 32px;
        font-size: 22px;
        font-weight: bold;
      }  
          
      &__content{
        border-top: 1px solid #eee;
        height: 182px;
        padding: 40px;
        padding-bottom: 64px;
      }
      &__inherit{
        height: 182px;
        width: 343px;
        margin: 0 auto;

        // button {
        //   display: block;
        //   height: 50px;
        //   width :343px;
        //   margin:0 auto 20px;
        //   border-radius: 10px;
        //   font-size:13px;
        //   text-decoration: none;
        //   text-align: center;
        //   line-height: 50px;
        //   position: relative;
        // } 

        #email{
          background-color: #ea352d;
          color: #fff;
          display: block;
          height: 50px;
          width :343px;
          margin:0 auto 20px;
          border-radius: 10px;
          font-size:13px;
          text-decoration: none;
          text-align: center;
          line-height: 50px;
          position: relative;
        }


          .mail-icon {
            font-size: 20px;
            position: absolute;
            top: 13px;
            left: 15px;
            color: #fff;
            background-color: #ea352d;
          }
                     
        #facebook {
          color: white;
          background-color: #385185;
          margin-top: 16px;
          display: block;
          height: 50px;
          width :343px;
          margin:0 auto 20px;
          border-radius: 10px;
          font-size:13px;
          text-decoration: none;
          text-align: center;
          line-height: 50px;
          position: relative; 
        }
        .facebook-icon{
          font-size: 20px;
          position: absolute;
          top: 13px;
          left: 15px;
        }

        #Google {
          color: black;
          background-color: white no-repeat 3px top;
          margin-top: 16px;
          display: block;
          height: 50px;
          width :343px;
          margin:0 auto 20px;
          border-radius: 10px;
          font-size:13px;
          text-decoration: none;
          text-align: center;
          line-height: 50px;
          position: relative;
        }
        .google-icon{
          font-size: 20px;
          position: absolute;
          top: 13px;
          left: 15px;
        }
      }
    }
  }
}


.user-footer {
  background: rgb(245, 245, 245);
  text-align: center;
  height: 220px;
  margin: 0 auto;
  padding: 40px 0;
  .user-footer-container {
    list-style: none;
  }
  .user-footer-menu{
    display: inline-block;
    margin: 0 0 0 16px;
    font-size: 12px;
    &__1{
      text-decoration: none;
      color: black;
    }
  }

  li:first-child {
    display: inline-block;
    margin: 0;
  }
  .user-footer__link {
    width: 80px;
    height: 65px;
    margin: 40px auto 0;
    .user-footer-img{
      width: 80px;
      height: 65px;
      margin: 40px auto 0;
    }
  }
  .user-footer__end{
    margin: auto;
    padding: 0;
    width: 456px;
    height: 14px;
    .user-footer__year{
      font-size: 13px;
    }
  }
}