//================================= STYLE&COLOR =================================//

@mixin clearfix{
  &:after{
    content: '';
    display: block;
    clear: both;
    box-sizing: inherit;
  }
}

@mixin header-nav__right{
  max-width: 100%;
  height: auto;
  max-height: 100%;
  margin-right: 10px;
  width: 19px;
  font-size: 20px;
}

@mixin bold{
  font-weight: 600;
}

$color-blue: rgb(14, 94, 241);
$color-white: rgb(255, 255, 255);
$color-white: #fff;

//================================= INDEX =================================//

body {
  position: relative;
  min-height: 100%;
  color: rgb(51, 51, 51);
  background-color: rgb(245, 245, 245);
  font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  font-size: 14px;
}

.pro-header{
  background-color: #fff;
  position: relative;
  z-index: 3;
}

//================================= NAV =================================//

.location{
  position: relative;
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  background: #fff;
  &-pre{
    width: 1020px;
    overflow: visible;
    margin: 0 auto;
    padding: 16px 0;
    white-space: normal;
    li{
      text-overflow: ellipsis;
      white-space: nowrap;
      display: inline-block;
      font-size: 14px;
      line-height: 1.2;
      a{
        color: #333;
        span:hover{
          border-bottom: 1px solid #888;
          color: #888;
        }
      }
    }
    .chevron-right{
      margin: 0 8px;
      font-size: 9px;
      color: #888;
      display: inline-block;
      font-family: 'icon-font';
      font-style: normal;
      font-weight: 400;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
    }
    li:last-child{
      @include bold()
    }
  }
}

//================================= MAIN =================================//

.major{
  margin: 40px auto 0;
  width: 1020px;
  padding: 0 0 40px;
  display: block;
  @include clearfix();
  .r-content{
    float: right;
    width: 700px;
    .user-detail{
      height: 200px;
      position: relative;
      padding: 20px;
      background: url(/images/玉ボケ.jpeg);
      background-repeat: no-repeat;
      background-size: cover;
      text-align: center;
      .image-content{
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translate(0, -50%);
        color: #333;
        figure{
          overflow: hidden;
          width: 60px;
          height: 60px;
          margin: 0 auto;
          border-radius: 50%;
          background-color: lightgray;
        }
        h2{
          margin: 8px 0 0;
          font-size: 14px;
          @include bold();
        }
        .eva{
          display: flex;
          justify-content: center;
          margin-top: 8px;
          &-left{
            margin-right: 10px;
            .bold{
              @include bold();
              margin-left: 5px;
            }
          }
          &-right{
            margin-left: 10px;
            .bold{
              @include bold();
              margin-left: 5px;
            }
          }
        }
      }
    }
    .notice-todo{
      margin-bottom: 40px;
      background: #fff;
      .mypage-info{
        border: 0;
        background: #eee;
        display: flex;
        .info-text{
          display: inline-block;
          width: 50%;
          text-align: center;
          a{
            position: relative;
            display: block;
            color: #333;
            font-size: 16px;
            line-height: 72px;
            h3{
              @include bold()
            }
          }
        }
        .info-text:hover h3{
          color: rgb(121, 120, 120);
        }
      }
      .tab-text{
        display: block;
        .tab-line{
          display: block;
          &__list{
            border-bottom: 1px solid #eee;
            .mypage-mail{
              display: block;
              height: 60px;
              padding: 16px;
              color: #333;
              position: relative;
              figure{
                margin: 0;
                float: left;
                img{
                  padding: 3px 5px;
                  background-color: lightgray;
                }
              }
              .mail-text{
                margin: 0 40px 0 68px;
                &__area{

                }
                time{
                  color: #888;
                  .icon-clock{
                    margin-right: 5px;
                  }
                }
              }
              .chevron-right{
                position: absolute;
                right: 16px;
                top: 45%;
                color: #333;
                font-size: 15px;
              }
            }
            .mypage-mail:hover{
              background: rgb(250, 246, 246);
            }
          }
          .go-page{
            border: 0;
            padding: 16px;
            a{
              display: block;
              height: 56px;
              margin: 0 auto;
              background: #eee;
              color: #333;
              line-height: 56px;
              text-align: center;
            }
            a:hover{
              background: rgb(250, 249, 249);
            }
          }
        }
      }
    }
    .deal{
      margin: 0;
      background: #fff;
      &-head{
        padding: 0 16px;
        background: #fafafa;
        font-size: 16px;
        line-height: 72px;
        font-weight: 600;
      }
      &-tab{
        border: 0;
        background: #eee;
        display: flex;
        li{
          width: 50%;
          display: inline-block;
          text-align: center;
          vertical-align: top;
        }
        h3{
          @include bold()
        }
        a{
          position: relative;
          display: block;
          color: #333;
          font-size: 16px;
          line-height: 72px;
        }
        a:hover h3{
          color: rgb(121, 120, 120);
        }
      }
      &-body{
        .deal-panel{
          display: block;
          .deal-info{
            padding: 160px 0 60px;
            background: url(/images/SVG/logo_gray.svg);
            background-repeat: no-repeat;
            background-position: center 40px;
            background-size: 78px 85px;
            text-align: center;
            font-size: 16px;
            color: #ccc;
            @include bold()
          }
        }
      }
    }
  }
  .l-content{
    float: left;
    width: 280px;
    margin: 0 40px 0 0;
    .mypage-choice{
      &__list :first-child{
        border-top: 0;
      }
      &__list{
        li{
          border-top: 1px solid #eee;
          .list-item{
            position: relative;
            display: block;
            min-height: 16px;
            padding: 16px;
            background: #fff;
            font-size: 14px;
            color: #333;
            .chevron-right{
              position: absolute;
              top: 50%;
              right: 16px;
              color: #ccc;
              transform: translate(0, -50%);
              transition: all ease-out .2s;
              font-size: 15px;
            }
          }
          .list-item__active{
            background: #eee;
            font-weight: 600;
            position: relative;
            display: block;
            min-height: 16px;
            padding: 16px;
            font-size: 14px;
            color: #333;
            .chevron-right{
              color: #333;
              position: absolute;
              top: 50%;
              right: 16px;
              transform: translate(0, -50%);
              transition: all ease-out .2s;
              font-size: 15px;
            }
          }
          .list-item:hover{
            background: rgb(250, 246, 246);
          }
          .list-item:hover .chevron-right{
            color: #333;
            right: 10px;
          }
        }
      }
      .mypage-choice__head{
        margin: 40px 0 0;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 10px;
      }
    }
  }
}

.signup-header-new{
  background: rgb(245, 245, 245);
  height: 128px;
  text-align: center;
  &__containar{
    background: rgb(245, 245, 245);
    .signup-header-new-panel{
      background: rgb(245, 245, 245);
      padding: 40px 0 0;
      .signup-header-new-icon{
        width: 185px;
        height: 49px;
        line-height: 49px;
        margin: 0 auto;
        .sign-up-new-img{
          width: 185px;
          height: 49px;
        }
      }
    }
  }
}

.container-login-signin {
  background: rgb(245, 245, 245);
  text-align: center;

  .main {
    .signup-panel {
      max-width: 700px;
      margin: 0 auto;
      background-color: white;

      &__title {
        padding: 32px;
        font-size: 22px;
        font-weight: bold;
      }  
          
      &__content{
        border-top: 1px solid #eee;
        height: 182px;
        padding: 40px;
        padding-bottom: 64px;
      }
      &__inherit{
        height: 182px;
        width: 343px;
        margin: 0 auto;

        // button {
        //   display: block;
        //   height: 50px;
        //   width :343px;
        //   margin:0 auto 20px;
        //   border-radius: 10px;
        //   font-size:13px;
        //   text-decoration: none;
        //   text-align: center;
        //   line-height: 50px;
        //   position: relative;
        // } 

        #email{
          background-color: #ea352d;
          color: #fff;
          display: block;
          height: 50px;
          width :343px;
          margin:0 auto 20px;
          border-radius: 10px;
          font-size:13px;
          text-decoration: none;
          text-align: center;
          line-height: 50px;
          position: relative;
        }

          .mail-icon {
            font-size: 20px;
            position: absolute;
            top: 13px;
            left: 15px;
            color: #fff;
            background-color: #ea352d;
          }

        #facebook {
          color: white;
          background-color: #385185;
          margin-top: 16px;
          display: block;
          height: 50px;
          width :343px;
          margin:0 auto 20px;
          border-radius: 10px;
          font-size:13px;
          text-decoration: none;
          text-align: center;
          line-height: 50px;
          position: relative; 
        }
        .facebook-icon{
          font-size: 20px;
          position: absolute;
          top: 13px;
          left: 15px;
        }

        #Google {
          color: black;
          background-color: white no-repeat 3px top;
          margin-top: 16px;
          display: block;
          height: 50px;
          width :343px;
          margin:0 auto 20px;
          border-radius: 10px;
          font-size:13px;
          text-decoration: none;
          text-align: center;
          line-height: 50px;
          position: relative;
        }
        .google-icon{
          font-size: 20px;
          position: absolute;
          top: 13px;
          left: 15px;
        }
      }
    }
  }
}

.user-footer {
  background: rgb(245, 245, 245);
  text-align: center;
  height: 220px;
  margin: 0 auto;
  padding: 40px 0;
  .user-footer-container {
    list-style: none;
  }
  .user-footer-menu{
    display: inline-block;
    margin: 0 0 0 16px;
    font-size: 12px;
    &__1{
      text-decoration: none;
      color: black;
    }
  }

  li:first-child {
    display: inline-block;
    margin: 0;
  }
  .user-footer__link {
    width: 80px;
    height: 65px;
    margin: 40px auto 0;
    .user-footer-img{
      width: 80px;
      height: 65px;
      margin: 40px auto 0;
    }
  }
  .user-footer__end{
    margin: auto;
    padding: 0;
    width: 456px;
    height: 14px;
    .user-footer__year{
      font-size: 13px;
    }
  }
}

//================================= EDITPROFILE =================================//
.profile-container{
  margin: 0;
  background: $color-white;
  .profile-head{
    font-size: 24px;
    padding: 8px 24px;
    border-bottom: 1px solid #f5f5f5;
    text-align: center;
    font-weight: bold;
  }
  form{
    .set-nickname{
      padding: 72px 16px 24px;
      background: url(/images/çŽ‰ãƒœã‚±.jpeg);
      background-repeat: no-repeat;
      background-size: cover;
      text-align: center;
      font-size: 0;
      figure{
        display: inline-block;
        overflow: hidden;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        vertical-align: middle;
        margin: 0;
        .user-image__p{
          width: 60px;
          height: 60px;
          background-color: #eee;
        }
      }
      .input-default{
        width: 220px;
        margin: 0 0 0 8px;
        vertical-align: middle;
        height: 28px;
        padding: 10px 16px 8px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background: $color-white;
        line-height: 1.5;
        font-size: 16px;
      }
    }
    .set-text{
      padding: 40px 16px;
      .textarea-default{
        display: block;
        width: 645px;
        min-height: 216px;
        padding: 10px;
        border: 1px solid #ccc;
        background: $color-white;
        font-size: 16px;
        line-height: 1.5;
      }
      .profile-button{
        width: 100%;
        margin-top: 20px;
        background: #ea352d;
        border: 1px solid #ea352d;
        color: $color-white;
        cursor: pointer;
        line-height: 48px;
        font-size: 15px;
      }
    }
  }
}

.error_message{
  color:red;
  float:left;
}