.user-header {
  background: rgb(245, 245, 245);
  height: 128px;
  text-align: center;
  h1 {
    background: rgb(245, 245, 245);
    padding: 40px 0 0;
    a {
      width: 185px;
      height: 49px;
      line-height: 49px;
      img {
        width: 185px;
        height: 49px;
      }
    }
  }
}

.container-login-signin {
  background: rgb(245, 245, 245);
  text-align: center;

  .main {
    .signup-panel {
      max-width: 700px;
      margin: 0 auto;
      background-color: white;

      &__title {
        padding: 32px;
        font-size: 22px;
        font-weight: bold;
      }  
          
      &__content{
        border-top: 1px solid #eee;
        height: 182px;
        padding: 40px;
        padding-bottom: 64px;
      }
      &__inherit{
        height: 182px;
        width: 343px;
        margin: 0 auto;

        // button {
        //   display: block;
        //   height: 50px;
        //   width :343px;
        //   margin:0 auto 20px;
        //   border-radius: 10px;
        //   font-size:13px;
        //   text-decoration: none;
        //   text-align: center;
        //   line-height: 50px;
        //   position: relative;
        // } 

        #email{
          background-color: #ea352d;
          color: #fff;
          display: block;
          height: 50px;
          width :343px;
          margin:0 auto 20px;
          border-radius: 10px;
          font-size:13px;
          text-decoration: none;
          text-align: center;
          line-height: 50px;
          position: relative;
        }


          .mail-icon {
            font-size: 20px;
            position: absolute;
            top: 13px;
            left: 15px;
            color: #fff;
            background-color: #ea352d;
          }
                     
        #facebook {
          color: white;
          background-color: #385185;
          margin-top: 16px;
          display: block;
          height: 50px;
          width :343px;
          margin:0 auto 20px;
          border-radius: 10px;
          font-size:13px;
          text-decoration: none;
          text-align: center;
          line-height: 50px;
          position: relative; 
        }
        .facebook-icon{
          font-size: 20px;
          position: absolute;
          top: 13px;
          left: 15px;
        }

        #Google {
          color: black;
          background-color: white no-repeat 3px top;
          margin-top: 16px;
          display: block;
          height: 50px;
          width :343px;
          margin:0 auto 20px;
          border-radius: 10px;
          font-size:13px;
          text-decoration: none;
          text-align: center;
          line-height: 50px;
          position: relative;
        }
        .google-icon{
          font-size: 20px;
          position: absolute;
          top: 13px;
          left: 15px;
        }
      }
    }
  }



  .footer {
    background: rgb(245, 245, 245);
    width: 456px;
    height: 220px;
    margin: 0 auto;
    padding: 40px 0;

    ul {
      list-style: none;
    }

    li {
      display: inline-block;
      margin: 0 0 0 16px;
      font-size: 12px;
      a {
        text-decoration: none;
        color: black;
      }
    }


    & li:first-child {
      display: inline-block;
      margin: 0;
    }

    p {
      margin: 8px 0 0;

      small {
        font-size: 13px;
      }
    }


    &__logo img {
      width: 80px;
      height: 65px;
      margin: 40px auto 0;
    }
  }
}


.user-footer {
  background: rgb(245, 245, 245);
  text-align: center;
  
  height: 220px;
  margin: 0 auto;
  padding: 40px 0;
  ul {
    list-style: none;
  }
  li {
    display: inline-block;
    margin: 0 0 0 16px;
    font-size: 12px;
    a {
      text-decoration: none;
      color: black;
    }
  }

  & li:first-child {
    display: inline-block;
    margin: 0;
  }
  a {
    img {
      width: 80px;
      height: 65px;
      margin: 40px auto 0;
    }
  }
  p {
    margin: 8px 0 0;

    small {
      font-size: 13px;
    }
  }
}