= render '/shared/user_header'

.container-login-signin
  .main

    .signup-panel
      %p.signup-panel__title 新規会員登録

      .signup-panel__content
        .signup-panel__inherit
          %button#email
            = link_to "登録",signup_regisrations_path
            = icon "far","envelope",class: "mail-icon"
            メールアドレスで登録する
            
        
          %button#facebook
            %i.fab.fa-facebook-square.facebook-icon
            Facebookで登録する
            
          %button#Google
            %i.fab.fa-google.google-icon
            Googleで登録する  

= render '/shared/user_footer'

